@import '../../node_modules/odometer/themes/odometer-theme-train-station.css';

.wp-countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.wp-countdown .wp-countdown-prefix-label {
  grid-column: 0;
}

.wp-countdown .wp-countdown-countdown {
  grid-column: 1;
  display: inline;
}
  
.wp-countdown .active {
    margin-left: 0.5rem;
    font-weight: bolder;    
}
  
.wp-countdown .inactive {
}

.leading-zero.odometer .odometer-inside .odometer-digit:first-child {
    display: none;
}
