@import '../../node_modules/odometer/themes/odometer-theme-default.css';

.wp-countdown {
    display: inline-block;
    border-width: 1px;
    border-color: chartreuse;
    padding: 10 5 10 5;
}
  
.wp-countdown .active {
    margin-left: 0.5rem;
    font-weight: bolder;    
}
  
.wp-countdown .inactive {
}